* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#navbar {
    font-family: "Momo Trust Display", sans-serif;
    width: 100%;
    background: black;
    color: white;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s ease;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#site-title a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s ease;
}

#site-logo {

    transition: 0.3s ease;
    width: 90px;
    height: auto;

    border-radius: 10px;
}


#visit-section {
    margin-top: 8px;
    width: 280px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#country-list li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
}

#country-list a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}


.video-container {
    position: relative;
    /* IMPORTANT */
    width: 100%;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
}


.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 90%;
}

.video-overlay h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    text-shadow: 0px 0px 8px black;
}

.video-overlay p {
    margin-top: 10px;
    font-size: 1.2rem;
    text-shadow: 0px 0px 6px black;
}

.footer {
    background: #0055ff;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    font-size: 0.8rem;
}

.footer-bottom a {
    color: yellow;
    text-decoration: none;
}

@media (max-width: 768px) {
    #site-title a {
        font-size: 2rem;
    }

    #site-logo {
        width: 100px;
    }

    #visit-section {
        margin-left: 90px;
    }

    .video-overlay h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
        margin-top: -53%;
    }

    .video-overlay p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    #site-title a {
        font-size: 1.7rem;
    }

    #site-logo {
        width: 80px;
    }


    .video-overlay h1 {
        font-size: 1.8rem;
        /* smaller heading */
    }

    .video-overlay p {
        font-size: 1rem;
        /* smaller paragraph */
    }

    .video-overlay {
        width: 95%;
        /* fit smaller screen */
        padding: 0 10px;
        /* small side padding */
    }

}

#places fieldset {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 1em;
    padding: 20px;
    align-items: flex-start;
    border-radius: 10px;
     box-shadow: 3px 2px 2px gray;
    

}


#places img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}


#places a.jeju {
    
    text-align: center;
font-size: 2rem;
font-family: monospace;
    text-decoration: none;
    margin-top: 4rem;
    font-weight: bolder;
    font-style: oblique;

}




#text-area {
    max-width: 60%;
    text-align: justify;
    font-size: 20px;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    #places fieldset {
        flex-direction: column;
        text-align: center;
    }

    #places img {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }

    #places  a.jeju { 

        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 100%;
    
        text-decoration: none;
        color: rgb(55, 50, 50);
    }
    
    #text-area {
        max-width: 100%;
        text-align:justify;
        font-size: 15px;
    }
}

#places h1{
     font-family: "Momo Trust Display", sans-serif;
    text-align: center;
    font-weight: lighter;
}